.SearchResults {
  overflow-y: scroll;
}

.SearchResults::-webkit-scrollbar {
  width: 10px;
}
.SearchResults::-webkit-scrollbar * {
  background:transparent; // manage scrollbar background color here
}
.SearchResults::-webkit-scrollbar-thumb {
  background:rgba(255,0,0,0.1) !important; // manage scrollbar thumb background color here
}

.imageContainer {
  width: 100%;
  padding: 8px 16px;

  img {
    width: 100%;
    cursor: pointer;
    transition: opacity ease 0.2s;

    &:hover {
      opacity: 0.7;
    }
  }
}
